@import "~react-mdl/extra/material.css";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(~material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(~material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(~material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(~material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
 
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
 
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
 
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
 
  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
    word-break: break-all;
}

.mdl-data-table {
    white-space: normal;
}

.mdl-data-table td, .mdl-data-table th {
    padding: 0 3px 0px 3px;
    text-align: right;
}

.mdl-data-table td:first-of-type, .mdl-data-table th:first-of-type {
    padding-left: 10px;
}

.mdl-data-table td:last-of-type, .mdl-data-table th:last-of-type {
    padding-right: 10px;
}

.mdl-data-table th {
    height: 100%;
}

.select-item textarea {
    resize: none;
}

.mdl-button--fab.mdl-button--mini-fab {
    height: 30px;
    min-width: 30px;
    width: 30px;
}

.quantity input {
    text-align: right;
}


.mdl-dialog.save-dialog {
    width: 500px;
    .mdl-textfield {
        padding: 5px 0;
    }
    .mdl-textfield__label {
        top: 10px;
    }
    .mdl-textfield__label:after {
        bottom: 5px;
    }
}
