// @import '~material-design-lite/src/typography/_typography.scss';

html {
  font-family: Helvetica,Arial,sans-serif;
}

body {
    margin: 0;
    word-break: break-all;
}

.mdl-data-table {
    white-space: normal;
}

.mdl-data-table td, .mdl-data-table th {
    padding: 0 3px 0px 3px;
    text-align: right;
}

.mdl-data-table td:first-of-type, .mdl-data-table th:first-of-type {
    padding-left: 10px;
}

.mdl-data-table td:last-of-type, .mdl-data-table th:last-of-type {
    padding-right: 10px;
}

.mdl-data-table th {
    height: 100%;
}

.select-item textarea {
    resize: none;
}

.mdl-button--fab.mdl-button--mini-fab {
    height: 30px;
    min-width: 30px;
    width: 30px;
}

.quantity input {
    text-align: right;
}


.mdl-dialog.save-dialog {
    width: 500px;
    .mdl-textfield {
        padding: 5px 0;
    }
    .mdl-textfield__label {
        top: 10px;
    }
    .mdl-textfield__label:after {
        bottom: 5px;
    }
}
